body {
    min-height: 100vh;
    font-family: Outfit, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D5E1EF;
}

.card {
    width: 20rem;
    height: 31.1875rem;
    background-color: #ffffff;
    border-radius: 1.25rem;
    display: flex;
    padding: 1rem 1rem 2.5rem 1rem;
    flex-direction: column;
    align-items: flex-start;
}

.qr-img{
    width: 100%;
    border-radius: 0.63rem;
}
.title {
    color: #1F314F;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding: 1.5rem 1rem 0rem 1rem;
    margin: 0rem;
}

.paragraph{
    color:  #68778D;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.313rem;
    letter-spacing: 0.0125rem;
    margin: 0rem;
    padding: 1rem 1rem 0rem 1rem;
    align-self: stretch;   
}
